@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1{
    margin: 50px;
}
.administrator-container {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    height: 100vh; /* Ajusta la altura para ocupar el 100% del viewport */
}

.load-routes-button{
    background-color: #0a74da;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    font-size: 14px;
    color: white;
    display: block;
    padding: 14px 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;

}

.search-routes-button{
    background-color: #f4f4f4;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    font-size: 14px;
    color: #333333;
    display: block;
    padding: 14px 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;

}

.reservation-report-button{

    background-color: #2ecc71;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    font-size: 14px;
    color: #fff;
    display: block;
    padding: 14px 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;

}
