@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


input {
    border: color #f4f4f4;;
    border-radius: 6px;
    width: 80vw;
    max-width: 400px;
    font-size: 1.5em;
}
input:focus {
    padding-bottom: 5px;
}

.reservation-form{
    justify-content: center;
    align-items: center;
}

.date-form{
    background-color: #0a74da;
}
.date-form{
    /*background-color: #ff6b6b;*/
    padding: 10px;
}

.city-form{
    border: 1px;
    border-radius: 2px;
}

.city-form h5{
    text-align: center;
}




.book-ticket-button,.back-button{
    text-decoration: none;
    padding: 5px;
    background-color: #ff6b6b;
    color: white;
    border-radius: 6px;
    margin-top: 4px;

}

.back-button{
    background-color: #ff6b6b;
}


form h1{
    text-align: center;
}


/* only animate if the device supports hover */
@media (hover: hover) {
    #creditcard {
      /*  set start position */
      transform: translateY(110px);
      transition: transform 0.1s ease-in-out;
      /*  set transition for mouse enter & exit */
    }

    #money {
      /*  set start position */
      transform: translateY(180px);
      transition: transform 0.1s ease-in-out;
      /*  set transition for mouse enter & exit */
    }

    button:hover #creditcard {
      transform: translateY(0px);
      transition: transform 0.2s ease-in-out;
      /*  overide transition for mouse enter */
    }

    button:hover #money {
      transform: translateY(0px);
      transition: transform 0.3s ease-in-out;
      /*  overide transition for mouse enter */
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.25rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  .button:hover .button__text span {
    transform: translateY(-0.25rem);
    transition: transform .2s ease-in-out;
  }

  .button {
    border: none;
    outline: none;
    background-color: #0a74da;
    margin: 20px;
    padding-inline: 50px;
    position: relative;
    border-radius: 8px;
    letter-spacing: 0.7px;
    background-color: #0a74da;
    color: #fff;
    cursor: pointer;
    box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
  }

  .button:active {
    transform: translateY(1px);
  }

  .button__svg {
    position: absolute;
    overflow: visible;
    bottom: 6px;
    right: -0.1rem;
    height: 100%;
  }

  .city-list {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 100px;
    overflow-y: auto;
}

