body {
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.boton-volver {
    background-color: #0a74da;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 50px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #333;
    display: block;
    padding: 14px 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;

}

.boton-cargar {
    background-color: #2ecc71;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 50px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #333;
    display: block;
    padding: 14px 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;

}


.btn-secondary{
    margin: 20px;
}

.alert-danger {
    background-color: #ff6b6b;
    color: #1d1d1d;
    padding: 0.5rem;
    border: 0;
    border-radius: 10px;
    text-align: center;
}
