body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1{
    margin: 50px;
}
.contenedor-administrador {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    height: 100vh; /* Ajusta la altura para ocupar el 100% del viewport */
}

.ripple-effect {
    text-decoration: none;
    font-weight: 500;
    position: relative;
    font-size: 14px;
    color: #333;
    background-color: #ddd;
    display: block;
    padding: 14px 20px;
    border-radius: 10px;
    overflow: hidden;
    div {
      position: absolute;
      transform: translate(-50%, -50%);
      pointer-events: none;
      border-radius: 50rem;
      background-color: red;
      animation: rippleEffect 1s linear infinite;
    }
  }


.boton-cargar-rutas{
    background-color: #0a74da;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    font-size: 14px;
    color: #333;
    display: block;
    padding: 14px 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;

}

.boton-buscar-ruta{
    background-color: #f4f4f4;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    font-size: 14px;
    color: #333;
    display: block;
    padding: 14px 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;

}

.boton-reporte-reserva{

    background-color: #2ecc71;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    font-size: 14px;
    color: #333;
    display: block;
    padding: 14px 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;

}
