@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.title{
    text-align: center;
    color:red;
}


.back-button {
    background-color: #0a74da;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: white;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 70px;
    z-index: 1000;

}
.load-file-button-container{
    display: flex;
    justify-content: center;
}


.load-file-button-volver{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-secondary{
    margin: 20px;
}

.alert-danger {
    background-color: #ff6b6b;
    color: #1d1d1d;
    padding: 0.5rem;
    border: 0;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.alert-container{
    display:flex;
    justify-content: center;
    margin-top: 70px;
}

.load-file-button{
	width: 150px;
	height: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: red;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: #2ecc71;
}

.load-file-button, .load-file-button span {
	transition: 200ms;
}

.load-file-button .text {
	transform: translateX(35px);
	color: white;
	font-weight: bold;
}

.load-file-button .icon {
	position: absolute;
	transform: translateX(57px);
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.load-file-button:hover {
	background: #2ecc71;
}

.load-file-button:hover .text {
	color: transparent;
}

.load-file-button:hover .icon {
	width: 150px;
	border-left: none;
	transform: translateX(0);
}

.load-file-button:focus {
	outline: none;
}

