@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    font-family: 'poppins',sans-serif;
}



/* Establece el cuerpo y el documento HTML para llenar toda la altura de la ventana */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/894359/pexels-photo-894359.jpeg');
    background-size: cover; /* Para que la imagen de fondo se ajuste a toda la pantalla */
}

.container{
    margin: 20px;
    backdrop-filter: blur(10px); /* Ajusta el valor de desenfoque según tus preferencias */
    background-color: rgba(333, 333, 333, 0.1); /* Agrega un color de fondo con opacidad para que el desenfoque sea más visible */
    padding: 20px; /* Ajusta según tus necesidades */
    border-radius: 20px;
    width: 500px;
    height: 400px;
}


.email-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-input{
    background-color: rgba(333, 333, 333, 0.3);
    border: #333333;
}

.email-label{
    text-align: left;
}

.password-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;

}

.password-input{
    background-color: rgba(333, 333, 333, 0.3);
    border: #333333;

}

p{
    color:#ff6b6b;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.login-button {

    background: #2ecc71;
    color: black;
    cursor: pointer;
    font-size: 1.3em;
    padding: 0.5rem;
    border: 0;
    border-radius: 10px;
    position:relative;
}

.back-button {

    background: #ff6b6b;
    color: black;
    cursor: pointer;
    font-size: 1.3em;
    padding: 0.5rem;
    border: 0;
    border-radius: 10px;
    position: relative;
    width: 120px;
    text-decoration: none;
    text-align: center;
}
