@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    font-family: 'poppins',sans-serif;
}



/* Establece el cuerpo y el documento HTML para llenar toda la altura de la ventana */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height: 100vh;
    transform: scale(1); /* Establece una escala inicial mayor que 1 */
    opacity: 0; /* Establece la opacidad inicial en 0 para que el contenido no sea visible */
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
}

body.loaded {
    transform: scale(1);
    opacity: 1; /* Establece la opacidad completa para mostrar el contenido */
}

.container {
    text-align: center;
    background: transparent;
    border: 4px solid rgba(0, 0, 0, 1);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    padding: 20px;
}


.correo-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contrasena-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

p{
    color:#ff6b6b;
}

.show-password-button {
    margin-top: 10px;
    background: none;
    border: none;
    text-shadow: 3px 3px 6px;
    font-size: 15px;
    cursor:pointer;

}



.button-container {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center;
    gap: 10px;
}

.login-button {

    background: #2ecc71;
    color: black;
    cursor: pointer;
    font-size: 1.3em;
    padding: 0.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
    min-width: 250px;

    &::after {
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        position: absolute;
        left: 80%;
        top: 54%;
        right: 0;
        bottom: 0;
        opacity: 0;
        transform: translate(-50%, -50%);

    }

    &:hover {
        background: #0A74DA;
        transition: all 0.5s;
        border-radius: 10px;
        box-shadow: 0px 6px 15px #0000ff61;
        padding: 1.5rem 3rem 1.5rem 1.5rem;
        color: #ffffff;

        &::after {
            opacity: 1;
            transition: all 0.5s;
            color: #ffffff;

        }
    }
}

.back-button {

    background: #ff6b6b;
    color: black;
    cursor: pointer;
    font-size: 1.3em;
    padding: 0.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
    min-width: 240px;
    text-decoration: none;

    &::after {

        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        position: absolute;
        left: 80%;
        top: 54%;
        right: 0;
        bottom: 0;
        opacity: 0;
        transform: translate(-50%, -50%);

    }

    &:hover {
        background: #0A74DA;
        transition: all 0.5s;
        border-radius: 10px;
        box-shadow: 0px 6px 15px #0000ff61;
        padding: 1.5rem 3rem 1.5rem 1.5rem;
        color: #ffffff;

        &::after {
            opacity: 1;
            transition: all 0.5s;
            color: #ffffff;

        }
    }
}
