@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    /*background: url('background6.jpg')no-repeat;*/
    background: #2ecc71;
    background-position: center;
    background-size: cover;
}

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}


.input-box ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.olvidar-contrasena{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.olvidar-contrasena label input{
    margin: 20px;
    margin-right: 3px;
    justify-content: center;

}
.olvidar-contrasena label a{
    color: #fff;
    text-decoration: none;
}
.olvidar-contrasena label a:hover{
    text-decoration: underline;
}

.button-container {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center;
    margin-top: 20px; /* Espacio entre los elementos */
}

.button-container a {
    margin-top: 10px; /* Espacio entre el botón "Ingresar" y el enlace "Volver" */
}

.login-button {
    background-color: #2ecc71;
    color: #ffffff;
    font-size: 20px;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    border: 3px solid black; /* Agregar el contorno */
}

.back-button {
    background-color: #ff6b6b;
    color: #ffffff;
    font-size: 20px;
    width: 195px;
    height: 44px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    border: 3px solid black; /* Agregar el contorno */
}
