@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    font-family: 'poppins',sans-serif;
}

.table-routes{
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    text-align:center;
    color:#333333;
}


table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #0a74d4;
    color: #fff;
}

.error-row {
    background-color: #ff8a80;
}

.valid-row {
    background-color: #a8e6cf;
}

.repeated-row {
    background-color: #e4e6a8;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

.back-button{
    background-color: #0a74d4;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-inline-start: 25px;
    margin-top: 20px;
}
